.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #faf9f9;
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.content {
  display: flex;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
  height: 80rem;
}